body{
    margin: 0;
}

header{
    background-color: rgb(16, 142, 142);
    padding: 5em;
    text-align: center;
    color:white
}

#btnMulher{
    background-color: blueviolet;
    padding: 1em;
}

#btnHomem{
    background-color: blue;
    padding: 1em;
}